/* google fonts link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* common style  */
:root{
    --poppins: 'Poppins', sans-serif;
    --font-color: #3A3A3A;
    --button-bg-color: #E02C6D;
}


body{
    margin: 0;padding: 0;
    font-family: var(--poppins);
    font-weight: 400;
    color: var(--font-color);
    background-color: #FFFFFF;
}
.container{
    width: 1055px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    box-sizing: border-box;
}
*{
    text-decoration: none;
    list-style: none;
}


/* header style  */
header{
    height: 80px;
    width: 1055px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 30px;
}
header h2{
    font-size: 24px;
    font-weight: 700;
    color: var(--font-color);
}

/* influencer section style  */
.influencer_wrap{
    display: flex;
    align-items: center;
}
.influencer_text{
    flex: 1;
}
.influencer_text h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0px;
}
.influencer_text p{
    font-size: 19px;
    font-weight: 500;
    margin-right: 150px;
    margin-top: 10px;
    margin-bottom: 35px; 
}
.influencer_text span a{
    background-color:var(--button-bg-color);
    color: white;
    padding: 7px 20px;
    font-weight: 600;
    border-radius: 20px;   
}


.influencer_img{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
}
.influencer_img_wrap{
    width: 450px;
    height: 450px;
    background-image: url(../images/svg/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.influencer_img_wrap img{
    width: 100%;
    transform: scale(0.7);
    transition: .3s ease-in;
}
.influencer_img_wrap:hover > img{
    transform: scale(0.8);
}


/* Popular Collection start  */
.collection_wrap h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.collections_box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 45px;
}
.item_box{
    padding: 20px;
    box-shadow: 0px 0px 21px -4px rgba(97,96,97,1);
    border-radius: 10px;
}
.item_img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}
.item_img img{
    object-fit: cover;
    width: 100%;
}
.item_title h4{
    font-size: 28px;
    font-weight: 500;
    margin-top: 9px;
    margin-bottom: 0;
}
.item_title span{
    font-size: 24px;
    font-weight: 400;
}
.item_title p{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}
.item_title p .fas{
    font-size: 16px;
    color: #FB8200;
    
}
.item_title p span{
    font-size: 16px;
    font-weight: 700;

}
.item_title > span{
}
.rating_icon{
    margin: 0;
}
.item_title .ships{
    font-size: 18px;
}

.box_4 .item_img img {
    width: 100%;
}
.see_more{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: right;
}
.see_more a{
    text-align: right;
    font-size: 17px;
    font-weight: 600;
    color: var(--button-bg-color);
}


/* footer style  */
footer{
    background-color: #0A0826;
    color: white;
}
.footer_wrap{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer_item{
    width: 300px;
    text-align: center;
}
.item_text h2{
    font-size: 24px;
    font-weight: 700;
}
.item_text p{
    font-size: 14px;
    font-weight: 500;
}

.item_icon ul{
    display: flex;
    justify-content: center;
}
.item_icon ul li{
    margin-right: 15px;
    width: 50px;
    height: 50px;
    background-color: #3a394b;
    border-radius: 50%;
    position: relative;
}
.item_icon ul li a i{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;

}




/* new item  */


/* overlay style start -------------------------------------------------- */
.latest_box{
    position: relative;
    overflow: hidden;
    transition: 5s;
}
.box_overlay_info{
    position: absolute;
    border-radius: 10px;
    top: -300px;
    left: 0px;
    left: 0;
}

.latest_box:hover .box_overlay_info{
    top: 0; left: 0;
    transition: .4s ease-in-out;
}

/* overlay style end  -----------------------------------------------------*/



.latest_wrap h2{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.latest_wrap h2 span{
    color: var(--button-bg-color);
}
.latest_box_wrap{
    display: flex;
    justify-content: space-between;
}
.latest_box{
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 21px -4px rgba(97,96,97,1);
    border-radius: 10px;

}
.box_img{
    padding: 15px;
}
.box_img img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.box_title{
    color: white;
    text-align: center;
}
.box_title h4{
    font-size: 20px;
    margin-bottom: 10px;

}
.box_title p{
    color: #ffc400;
}
.box_title .btn{
    margin-top: 20px;
    border: none;
}
.box_title .btn a{
    background-color: var(--button-bg-color);
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: 600;
}
.box_title p{
    margin-top: 10px;
}

.box_overlay_info{
    background-color: rgba(0, 0, 0, 0.6);
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
